<!--Users全ユーザー一覧-->

<!--<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<p>全共通コード(heade)(footer)app/views/layouts/application.html.erb</p>
<p>部分共通コード(left_side)/app/views/books/_list.html.erb</p>-->


<!--ユーザー一覧-->
<div class="body">
<div class="container">
<p id="notice"></p>
<div class="row">
<!--共通項ここから-->
<!--ユーザ画面-->
<%= render 'books/list' %>
<!--共通項ここまで-->


<!--ユーザー一覧-->
<div class="col-lg-9">
<div class="container  col-lg-12">
  <h2>Users</h2>
  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
         <%= attachment_image_tag user, :profile_image, :fill, 40, 40,  fallback: "default.jpg" %>
        </td>
        <td><%= user.name %></td>
        <td><%=link_to "show" , user_path(user.id)%></td>
        <% end %>
      </tr>
    </tbody>
  </table>
    <div class="text-center">
  <%= paginate @users, class: "pagenate" %>
</div>
</div>
</div>
</div>
</div>
</div>