<!--ログイン前のトップページ-->
<!--<h1>post_images#index</h1>
<p>Find me in app/views/post_images/index.html.erb</p>-->
<!--上のコンテンツ-->
<div class="main">
  <!--モーダルのコンテンツ-->
  <div id="modal-content" class="container">
    <div id="modal-content-innar">
      <!-- モーダルウィンドウのコンテンツ開始 -->
      <div class="row">
        <div class="col-sm-6">
          <h3 class="login-h3">ログイン</h3>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :name %><br />
                <%= f.text_field :name, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
              </div>
              <% end -%>
                <div class="actions">
                  <%= f.submit "Log in", class:"btn btn btn-primary" %>
                </div>
                <% end %>
                  <%= render "devise/shared/links" %>
        </div>
        <div class="row">
          <div class="col-sm-6"><button type="button" class="close batu" id="modal-close">&times;</button>
            <h3 class="sign_up-h3">新規登録</h3>
            <%= link_to "新規登録", "/users/sign_up", {:class => "btn btn-success btn-sign_up col-sm-12 btn-p"} %>
              <%= link_to "Facebookで登録", '#', {:class => "btn btn-facebook col-sm-12 btn-p"} %>
                <%= link_to "Twitterで登録", '#', {:class => "btn btn-twitter col-sm-12 btn-p"} %>
                  <%= link_to "Googleで登録", '#', {:class => "btn btn-google col-sm-12 btn-p"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--モーダルのコンテンツ-->
  <!--真ん中のコンテンツ-->
  <div class="col-sm-5">
    <div class="bookmessage col-sm-12  col-sm-offset-4">
      <h1>welcome to <span class="glyphicon glyphicon-book">
          <strong>Bookers
          </strong>!!
        </span> </h1>
      <p>In <span class="glyphicon glyphicon-book">
        </span> <strong>Bookers
        </strong>, </p>
      <p>you can share and exchange your opinions , inpressions , and emotions </p>
      <p>about varioius books! </p>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="btn-wrapper">
      <div class="row">
        <%= link_to "Log in", "/users/sign_in", {:class => "btn btn-info col-sm-5 col-sm-offset-5"} %>
      </div>
      <div class="row">
        <%= link_to "Sign Up", "/users/sign_up", {:class => "btn btn-success col-sm-5 col-sm-offset-5"} %>
      </div>
    </div>
  </div>
</div>
<!--真ん中のコンテンツ-->
<!--下のコンテンツ-->
<div class="second">
  <div id="scroll-box" class="col-sm-8">
    <table class="table">
      <tbody>
        <tr>
          <% @books_scroll.each do |book| %>
            <td class="scrolls-box hako text-center">Profile image </td>
            <td class="scrolls-box booki text-center">
              <%= attachment_image_tag book.user, :profile_image, :fill, 50, 50,  fallback: "default.jpg", class: "img-circle" %>
            </td>
            <td class="scrolls-box hako text-center">Book Cover </td>
            <td class="scrolls-box booki text-center">
              <%= attachment_image_tag book, :image, :fill, 50, 50,  fallback: "default.jpg"%>
            </td>
            <td class="scrolls-box hako text-center">Date </td>
            <td class="scrolls-box text-center">
              <%=book.date %>
            </td>
            <td class="scrolls-box hako text-center">Price </td>
            <td class="scrolls-box text-center">
              <%=book.price %>
            </td>
            <td class="scrolls-box hako text-center">Category </td>
            <td class="scrolls-box text-center">
              <%=book.category %>
            </td>
            <td class="scrolls-box hako text-center">Title </td>
            <td class="scrolls-box hako text-center">Opinion </td>
            <td class="scrolls-box text-center">
              <%=book.opinion %>
            </td>
            <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--下のコンテンツ-->